.navbar {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 999;
}

.navbar__logo img {
   height: 40px;
}

.navbar__actions {
   display: flex;
   align-items: flex-end;
   flex-direction: column-reverse;
   gap: 7px;
}

.alarm-btn,
.login-btn {
   display: inline-flex;
   align-items: center;
   justify-content: flex-end; /* 텍스트와 아이콘 우측 정렬 */
   border: none;
   cursor: pointer;
   font-weight: bold;
   font-size: 1rem;
   background-color: transparent;
   white-space: nowrap;
   width: fit-content;
}

.alarm-btn p,
.login-btn p {
   margin: 0 0 0 0.5rem;
   font-size: 0.9rem;
}

.alarmIcon,
.loginIcon {
   width: 20px;
   height: 20px;
   object-fit: contain;
   flex-shrink: 0;
}

.user-name {
   margin-left: 1rem;
   font-weight: 500;
}

@media screen and (min-width: 1024px) {
   .navbar__actions {
      flex-direction: row;
      justify-content: center;
      gap: 20px;
   }
}
